
<img src="https://github.com/Alanbestia/Foto/blob/master/foto.png?raw=true" alt="" align="right" height="250" width="250" class="Foto">
<form method="post" action="/" class="tabla" align="center">
  <textarea name="query" rows="10" cols="60"></textarea><br />
  <input type="submit" class="boton">
</form>









<h3>Columnas</h3>

  <table border="black" class="tabla" align="center">
    <thead>
      {{#each columnas}}
      <th>{{this.name}}</th>
      {{/each }}

    </thead>
<tbody>


{{#each resultados}}
  <tr>
{{#if this.id}}
<td>{{this.id}}</td>
{{/ if }}
{{#if this.nombre}}
    <td>{{this.nombre}}</td>
    {{/ if }}
    {{#if this.comidaPreferida}}
    <td>{{this.comidaPreferida}}</td>
    {{/ if }}
    {{#if this.fechaNacimiento}}
    <td>{{this.fechaNacimiento}}</td>
    {{/ if }}
    {{/each }}
</tbody>
</table>


<h3>Error</h3>
<code>{{ error }}</code>
